# Aviation Risk Analysis: Identifying the Safest Aircraft Models

## Project Overview
The company is exploring a new business venture: purchasing and operating aircraft for both commercial and private services. Before making such a significant investment, leadership needs to understand which aircraft models present the lowest operational risk. This project uses historical accident data from the U.S. National Transportation Safety Board (NTSB) to identify the safest aircraft types and provide clear, evidence-based recommendations. The analysis focuses on real-world aviation accident records from 1962 through 2023.

## Business Understanding
The key stakeholder is the head of the new Aviation Division. Their central question is: **Which aircraft models are the safest to acquire and operate?** To answer this, we will clean and explore the NTSB accident dataset, calculate risk metrics such as fatal- or serious-injury rates, and evaluate how different aircraft characteristics, flight conditions, and operational factors contribute to accident severity. The end result will be a set of actionable insights, backed by data, that guide purchase decisions and reduce safety risks.

## Project Objectives
* Identify the aircraft makes and models with the lowest accident and fatal-injury rates in the NTSB dataset from 1962–2023.
* Analyze how factors such as number of engines, flight purpose, weather conditions, and phase of flight affect accident severity.
* Provide clear, data-backed recommendations to guide the company’s aircraft purchase and operational decisions.

### 1. Data Acquisition & Loading

In [7]:
# Import Liabraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load Dataset
df = pd.read_csv('./NTSB_database.csv')
df.head()

,Event Id,Investigation Type,Country,Aircraft Damage,Aircraft Category,Make,Model,Amateur Built,Number Of Engines,Engine Type,...,Event Year,Publication Year,Event Month,Publication Month,Event Day,Publication Day,Date Difference,Publication Month Name,Event Month Name,Season
0,20001218X45444,Accident,United States,Destroyed,fixed wing single engine,stinson,108-3,No,1,reciprocating,...,1948,2001,10,8,24,24.0,26,August,October,Fall
1,20001218X45447,Accident,United States,Destroyed,weight-shift-control,piper,pa24-180,No,1,reciprocating,...,1962,1996,7,9,19,19.0,34,September,July,Summer
2,20061025X01555,Accident,United States,Destroyed,fixed wing single engine,cessna,172m,No,1,reciprocating,...,1974,2007,8,2,30,30.0,33,February,August,Summer
3,20001218X45448,Accident,United States,Destroyed,weight-shift-control,rockwell,112,No,1,reciprocating,...,1977,2000,6,12,19,19.0,23,December,June,Summer
4,20041105X01764,Accident,United States,Destroyed,fixed wing multi engine,cessna,501,No,2,turbo fan,...,1979,1980,8,4,2,2.0,1,April,August,Summer

In [ ]:
# Standardize column names